*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Cairo', sans-serif;
    user-select: none;
}
.icon-box {
    background: #eee;
    color: rgb(43, 24, 12);
    padding: 8px 12px;
    border-radius: 8px;
}
.sidebar {
    background: #4b2e1e;
    color: white;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.sidebar li {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;   
  justify-content: flex-start; 
  gap: 10px;
}

.sidebar .active {
  background: rgba(255,255,255,0.2);
  border-radius: 8px;
}
a{
    text-decoration: none;
    color: white;
}
.logout {
    margin-top: auto;
    cursor: pointer;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.2);
}
.logout:hover {
    color: rgb(163, 3, 3);
}
h4{
    color: #4b2e1e;
    font-weight: 700;
    font-size: 32px;
}
p {
    color: #8a7a70;
    font-size: 14px;
}
.content {
    background: #f7f7f7;
}
.search-box {
    border: 1px solid #e5dcd6; 
    padding: 20px;
    border-radius: 12px;
}
.search-box input {
    border-radius: 10px;
    padding: 10px;
}
h6 {
    color: #4b2e1e;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.table-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #e5dcd6; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.03); 
    cursor: pointer;

}
.table th {
    color: #4b2e1e;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
}


.table tbody tr:hover td {
    background-color:  #f8f4f1 ;
    transition: background-color 0.2s;
}
.table tr {
    border-bottom: 1px solid #e5dcd6;
}

.table td {
    color: #5a4a40;
    font-size: 14px;
    padding: 10px;
}


.btn-reg {
    background: #4b2e1e;
    color: white;
    padding: 4px 15px;
    border-radius: 12px;
    font-size: 13px;
    transition: 0.2s;
    user-select: none;
}

.btn-reg:hover {
    background: #3a2215; 
}

.btn-disabled {
    background: #eee;
    color: #999;
    padding: 4px 15px;
    border-radius: 12px;
    user-select: none;
}

.btn-warn {
    background: #f1f1f1;
    color: #777;
    padding: 4px 15px;
    border-radius: 12px;
    user-select: none;
}

.full {
    color: red  !important;
    font-weight: bold;
    font-size: 14px;
}

